body.light{
  background: $light-blue;
  color:$dark;
  header#navbar{
    nav{
      ul{
        border-color:$light-purple;
        li{
          &:hover,&.active{
            color:$medium-purple;
          }
        }
      }
    }
  }
}