//default
$dark : #000000;
$medium : #c0c0c0;
$light : #FFFFff;
//dark color
$deep-blue : #150b3b;
$dark-blue : #35858b;
$medium-blue : #4fbdba;
$light-blue : #aefeff;

//light color
$deep-purple : #150b3b;
$dark-purple : #3e065f;
$medium-purple : #700b97;
$light-purple : #8e05c2;