@charset "UTF-8";
@keyframes download {
  from {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(150%);
  }
  to {
    transform: rotate(180deg) translateY(0%);
  }
}
@keyframes sphere {
  from {
    border-radius: 50px;
  }
  50% {
    border-radius: 10px;
  }
  to {
    border-radius: 50px;
  }
}
@keyframes shake {
  from {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}
body {
  transition: all ease 0.5s;
  background: #150b3b;
  color: #FFFFff;
}

#navbar {
  margin: 0.5% 0;
}
#navbar nav {
  display: flex;
  justify-content: center;
}
#navbar nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid;
  border-radius: 50px;
  width: 50%;
  font-size: large;
  border-color: #35858b;
}
#navbar nav ul li {
  cursor: pointer;
  transition: visibility ease 0.5s;
}
#navbar nav ul li:hover, #navbar nav ul li.active {
  color: #4fbdba;
}

nav.nav-button {
  position: absolute;
  width: 100%;
  top: 1%;
}
nav.nav-button div {
  cursor: pointer;
  border-radius: 10px;
  padding: 0 5px;
  transition: width, background ease 0.5s;
  border: 1px solid;
  width: 6%;
  border-color: #4fbdba;
}
nav.nav-button div p {
  text-align: center;
  transition: all ease 0.5s;
}
nav.nav-button div i {
  transition: all ease 0.5s;
}
nav.nav-button div:hover {
  background: #4fbdba;
  color: #000000;
  transition: background ease 0.5s;
}
nav.nav-button div:hover i {
  transform: rotate(180deg);
}
nav.nav-button div.active {
  border-radius: 50px;
  justify-content: center;
  height: 30px;
  width: 30px;
  background: #35858b;
}
nav.nav-button div.active p {
  width: 0;
  overflow: hidden;
}
nav.nav-button div.active i {
  transform: rotate(180deg);
}
nav.nav-button div.active:hover {
  background: #4fbdba;
}
nav.nav-button div.active:hover i {
  transform: rotate(360deg);
}
nav.nav-button div:nth-child(1) {
  left: 10%;
}
nav.nav-button div:nth-child(2) {
  right: 10%;
  flex-direction: row-reverse;
}

main {
  display: flex;
  padding: 0 0.2%;
  position: relative;
  transition: all ease 0.5s;
  height: 93vh;
}
main section {
  margin: 0 0.5%;
}
main section .btn-container ul {
  display: flex;
  flex-direction: column;
}
main section .btn-container ul li {
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  font-size: x-large;
  border-color: #FFFFff;
}
main section .btn-container ul li:nth-child(2n) {
  margin: 1.25rem 0;
}
main section .btn-container ul li.active {
  transition: all ease 0.5s;
  background: #35858b;
  border-color: #aefeff;
}
main section .btn-container ul li:hover {
  border: 2px solid;
  transition: background, color ease 0.5s;
  color: #aefeff;
  background: #000000;
}
main section form button {
  border: 1px solid;
  border-radius: 50px;
  padding: 0.5% 1%;
}
main section form button.btn-valid {
  border-color: #00ff00;
  background: #008800;
}
main section form button.btn-cancel, main section form button.btn-delete {
  border-color: #ff0000;
  background: #880000;
}
main section form button.btn-update {
  border-color: #ffff00;
  background: #888800;
}
main section form button.btn-download {
  border-color: #008800;
  background: #009e08;
}
main section form button:hover:not(.btn-download) {
  animation: sphere 3s ease infinite;
}
main section form button:hover:not(.btn-download) i {
  animation: shake 2s ease infinite;
}
main section form button.btn-download {
  overflow: hidden;
}
main section form button.btn-download:hover i {
  animation: download 5s ease infinite;
}

main#Graph section {
  transition: all ease 0.5s;
}
main#Graph section .table-content .table-head {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-top-right-radius: 10px;
  padding-right: 10px;
  margin-top: 1%;
}
main#Graph section .table-content .table-head, main#Graph section .table-content .table-line {
  display: flex;
  justify-content: space-between;
}
main#Graph section .table-content .table-head .element-title, main#Graph section .table-content .table-head .element-body, main#Graph section .table-content .table-line .element-title, main#Graph section .table-content .table-line .element-body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  border-left: 1px solid;
}
main#Graph section .table-content .table-head .element-title:nth-child(1), main#Graph section .table-content .table-head .element-title:nth-child(3), main#Graph section .table-content .table-head .element-title:nth-child(4), main#Graph section .table-content .table-head .element-title:nth-child(5), main#Graph section .table-content .table-head .element-body:nth-child(1), main#Graph section .table-content .table-head .element-body:nth-child(3), main#Graph section .table-content .table-head .element-body:nth-child(4), main#Graph section .table-content .table-head .element-body:nth-child(5), main#Graph section .table-content .table-line .element-title:nth-child(1), main#Graph section .table-content .table-line .element-title:nth-child(3), main#Graph section .table-content .table-line .element-title:nth-child(4), main#Graph section .table-content .table-line .element-title:nth-child(5), main#Graph section .table-content .table-line .element-body:nth-child(1), main#Graph section .table-content .table-line .element-body:nth-child(3), main#Graph section .table-content .table-line .element-body:nth-child(4), main#Graph section .table-content .table-line .element-body:nth-child(5) {
  width: 100px;
}
main#Graph section .table-content .table-head .element-title:nth-child(2), main#Graph section .table-content .table-head .element-title:nth-child(6), main#Graph section .table-content .table-head .element-body:nth-child(2), main#Graph section .table-content .table-head .element-body:nth-child(6), main#Graph section .table-content .table-line .element-title:nth-child(2), main#Graph section .table-content .table-line .element-title:nth-child(6), main#Graph section .table-content .table-line .element-body:nth-child(2), main#Graph section .table-content .table-line .element-body:nth-child(6) {
  width: 150px;
}
main#Graph section .table-content .table-head .element-title:nth-child(7), main#Graph section .table-content .table-head .element-body:nth-child(7), main#Graph section .table-content .table-line .element-title:nth-child(7), main#Graph section .table-content .table-line .element-body:nth-child(7) {
  width: 50px;
}
main#Graph section .table-content .table-body {
  height: 85%;
}
main#Graph section .table-content .table-body::-webkit-scrollbar {
  height: 0;
  border: 1px solid;
  border-radius: 50px;
  width: 10px;
}
main#Graph section .table-content .table-body::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 50px;
  background: white;
}
main#Graph section .table-content .table-body .table-line {
  border-bottom: 1px solid;
  margin: 0.5% 0;
  max-height: 4rem;
}
main#Graph section .table-content .table-body .table-line:nth-child(1) {
  border: 1px solid;
}
main#Graph section .table-content .table-body .table-line.active .element-body {
  background: rgba(0, 0, 0, 0.5);
  background: red;
}
main#Graph section .table-content .table-body .table-line .element-body:nth-child(6) {
  padding: 0.1% 0.5%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
main#Graph section .table-content .table-body .table-line .element-body:nth-child(7) {
  border-right: none;
}
main#Graph section .table-content .table-body .table-line .element-body:nth-child(7) input[type=radio] {
  display: none;
}
main#Graph section .table-content .table-body .table-line .element-body:nth-child(7) .radio {
  border: 2px solid #4fbdba;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}
main#Graph section .table-content .table-body .table-line .element-body:nth-child(7) input[type=radio]:checked ~ .radio {
  background: #aefeff;
  transition: background ease 0.5s;
}
main#Graph section#graph-content div.graph-container #graphique {
  transition: all ease 0.5s;
}
main#Graph section#graphForm-content div.form-container form {
  transition: all ease 0.5s;
}
main#Graph section#graphForm-content div.form-container form fieldset {
  border-top: 2px solid;
  border-bottom: 2px solid;
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  height: 100%;
}
main#Graph section#graphForm-content div.form-container form fieldset .select {
  width: 48%;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 100%;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .options-container {
  width: 100%;
  order: 1;
  overflow: scroll;
  height: 20vh;
  background: gray;
  position: absolute;
  top: 3vh;
  z-index: 1;
  opacity: 0;
  max-height: 0;
  border: 1px solid red;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .options-container.active {
  opacity: 1;
  max-height: 100px;
  transition: all ease 0.5s;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .options-container.active + .selected:after {
  transform: rotateX(180deg);
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .options-container::-webkit-scrollbar {
  width: 10px;
  height: 0;
  background: black;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .options-container::-webkit-scrollbar-thumb {
  background: crimson;
  width: 100%;
  border-radius: 50px;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .options-container .option {
  cursor: pointer;
  padding: 1%;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .options-container .option input[type=radio] {
  display: none;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .selected {
  border: 1px solid;
  position: relative;
  order: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}
main#Graph section#graphForm-content div.form-container form fieldset .select .select-box .selected::after {
  text-align: center;
  content: "▼";
  height: 100%;
}
main#Graph section#graphForm-content div.form-container form fieldset input, main#Graph section#graphForm-content div.form-container form fieldset textarea {
  background: none;
  border: 1px solid;
  color: #FFFFff;
  border-color: #35858b;
}
main#Graph section#graphForm-content div.form-container form fieldset input[type=date], main#Graph section#graphForm-content div.form-container form fieldset input[type=time], main#Graph section#graphForm-content div.form-container form fieldset select {
  text-align: center;
}
main#Graph section#graphForm-content div.form-container form fieldset input[type=date]::-webkit-calendar-picker-indicator, main#Graph section#graphForm-content div.form-container form fieldset input[type=time]::-webkit-calendar-picker-indicator, main#Graph section#graphForm-content div.form-container form fieldset select::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
main#Graph section#graphForm-content div.form-container form fieldset legend {
  border-right: 2px solid;
  border-left: 2px solid;
  padding: 0 2%;
  border-radius: 50px;
}
main#Graph section#graphForm-content div.form-container form#data-select fieldset {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}
main#Graph section#graphForm-content div.form-container form#data-select fieldset .select {
  width: 70%;
}

/*# sourceMappingURL=style.css.map */
