button {
  border: 1px solid;
  border-radius: 50px;
  padding: 0.5% 1%;
}
button.btn-valid {
  border-color: #00ff00;
  background: #008800;
}
button.btn-cancel, button.btn-delete {
  border-color: #ff0000;
  background: #880000;
}
button.btn-update {
  border-color: #ffff00;
  background: #888800;
}
button.btn-download {
  border-color: #008800;
  background: #009e08;
}
button:hover {
  animation: sphere 3s ease infinite;
}
button:hover i {
  animation: shake 2s ease infinite;
}

.table-content .table-head, .table-content .table-line {
  display: flex;
  justify-content: space-between;
}
.table-content .table-head .element-title, .table-content .table-head .element-body, .table-content .table-line .element-title, .table-content .table-line .element-body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid;
  border-left: 1px solid;
}
.table-content .table-head .element-title:nth-child(1), .table-content .table-head .element-title:nth-child(3), .table-content .table-head .element-title:nth-child(4), .table-content .table-head .element-title:nth-child(5), .table-content .table-head .element-body:nth-child(1), .table-content .table-head .element-body:nth-child(3), .table-content .table-head .element-body:nth-child(4), .table-content .table-head .element-body:nth-child(5), .table-content .table-line .element-title:nth-child(1), .table-content .table-line .element-title:nth-child(3), .table-content .table-line .element-title:nth-child(4), .table-content .table-line .element-title:nth-child(5), .table-content .table-line .element-body:nth-child(1), .table-content .table-line .element-body:nth-child(3), .table-content .table-line .element-body:nth-child(4), .table-content .table-line .element-body:nth-child(5) {
  width: 100px;
}
.table-content .table-head .element-title:nth-child(2), .table-content .table-head .element-title:nth-child(6), .table-content .table-head .element-body:nth-child(2), .table-content .table-head .element-body:nth-child(6), .table-content .table-line .element-title:nth-child(2), .table-content .table-line .element-title:nth-child(6), .table-content .table-line .element-body:nth-child(2), .table-content .table-line .element-body:nth-child(6) {
  width: 150px;
}
.table-content .table-head .element-title:nth-child(7), .table-content .table-head .element-body:nth-child(7), .table-content .table-line .element-title:nth-child(7), .table-content .table-line .element-body:nth-child(7) {
  width: 50px;
}
.table-content .table-head {
  padding-right: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-top-right-radius: 10px;
  margin-top: 1%;
}
.table-content .table-body {
  height: 85%;
}
.table-content .table-body::-webkit-scrollbar {
  width: 10px;
  height: 0;
  border: 1px solid;
  border-radius: 50px;
}
.table-content .table-body::-webkit-scrollbar-thumb {
  background: white;
  width: 100%;
  border-radius: 50px;
}
.table-content .table-body .table-line {
  margin: 0.5% 0;
  max-height: 4rem;
  border-bottom: 1px solid;
}
.table-content .table-body .table-line:nth-child(1) {
  border: 1px solid;
}
.table-content .table-body .table-line.active {
  background: red;
}
.table-content .table-body .table-line.active .element-body {
  background: rgba(0, 0, 0, 0.5);
}
.table-content .table-body .table-line .element-body:nth-child(6) {
  padding: 0.1% 0.5%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.table-content .table-body .table-line .element-body:nth-child(7) {
  border-right: none;
}
.table-content .table-body .table-line .element-body:nth-child(7) input[type=radio] {
  display: none;
}
.table-content .table-body .table-line .element-body:nth-child(7) .radio {
  border: 2px solid #4fbdba;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}
.table-content .table-body .table-line .element-body:nth-child(7) input[type=radio]:checked ~ .radio {
  background: #aefeff;
  transition: background ease 0.5s;
}

/*# sourceMappingURL=styleBis.css.map */
